* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.access-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    padding-top: 22px;
    padding-bottom: 22px;
    z-index: 2;
    transform: translateY(0);
    transition: 2s;
    width: 100%;
}
.access-bar-hidden {
    transform: translateY(-100%);
}
.hidden-text {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 16px;
    line-height: 22.4px;
    margin-left: 16px;
}
.btn-hidden {
    background-color: #FFFF02;
    border: none;
    border-radius: 20px;
    z-index: 1;
    margin-right: 31px;
}
.btn-hidden__text {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #0b0b0b;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.btn-hidden:hover {
    cursor: pointer;
    background-color: coral;
}
.btn-hidden:active {
    border: 1px;
    cursor: pointer;
    background-color: #FF8B00;
}
.header {
    background-color: #0b0b0b;
    position: fixed;
    width: 100%;
}
.header-navigation {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    background-color: #0b0b0b;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.header-menu {
    display: flex;
    margin: auto;
    margin-left: 150px;
    list-style: none;
}
.header-menu__item {
    margin: 24px;
}
.header-menu__link {
    text-decoration: none;
    color: #fff;
}
.header-menu__link:hover {
    color: #4A00FF;
    text-decoration: underline;
}
.header-loginmenu {
    display: flex;
    align-items: center;
    margin: 10px; 
    list-style: none;
}
.header-loginmenu__item {
    margin: 8px;
}
.header-loginmenu__link {
    text-decoration: none;
    color: #fff;
}
.header-loginmenu__link:hover {
    color: #4A00FF;
    text-decoration: underline;
}
.header-menusocial {
    display: flex;
    align-items: center; 
    margin: 8px;
    list-style: none;
}
.header-menusocial__item {
    margin: 16px;
}
.background-image {
    background-image: url(../img/IMAGE.jpg);
    background-size: cover;
    background-position: center;
    min-height: 720px;
    display: flex;
    justify-content: center;
    height: 50vw;
    
}
.background-image__conteiner {
margin-top: 125px;
}
.background-image__main {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #fff;
    font-size: 115px;
    line-height: 120px;
    max-width: 1210px;
}
.background-image__mail-conteiner {
    display: flex;
    justify-content: center;
}
.background-image__mail {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 86px;
    width: 132px;
    text-decoration: none;
}
.background-image__mail:hover {
    color: #4A00FF;
    text-decoration: underline;
}
.information-section {
    background-color: #0b0b0b;
    color: rgb(255, 255, 255);

}
.experience-card {
    display: flex;
}
.black-card {
    background-color: #0b0b0b;
    height: 740px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-card__blue {
    background-color: #4A00FF;
    height: 740px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
}
.exchange-card {
    display: flex;
}
.exchange-card__green {
    background-color: #00FF9D;
    height: 740px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.support-card {
    display: flex;
}
.support-card__orange {
    background-color: #FF8B00;
    height: 740px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.card-header {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 110px;
    text-align: center;
    line-height: 154px;
}
.card-header__inform {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #0b0b0b;
    font-size: 39px;
    line-height: 44px;
    margin-left: 112px;
    margin-right: 195px;
}
.card-header__preskr {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #0b0b0b;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 28px;
    margin-left: 112px;
    margin-right: 112px;
}
.card-header__inform-blue {
    color: #fff;
}
.card-header__preskr-blue {
    color: #fff;
}
.btn-cards {
    margin-top: 32px;
    background-color: #0b0b0b;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 112px;
}
.btn-cards:hover {
    background-color: #ada310;
    cursor: pointer;
}
.btn-cards:active {
background-color: #FFFF02;
cursor: pointer;
}
.btn-cards__text {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 28px;
    margin-right: 28px;
    pointer-events: none;    
}
.gallery-section {
    background-color: #0b0b0b;
}
.gallery-header {
    background-color: #0b0b0b;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-header__text {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 68px;
    line-height: 72px;
    text-align: center;   
}
.slider {
    background-color: #0b0b0b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
}
.slider:hover {
    cursor: grab;
}
.slider:active {
    cursor: grabbing;
}
.swiper {
    overflow: hidden;
    position: relative;
    margin-left: 24px;
}
.swiper-wrapper {
    box-sizing: content-box;
}
.swiper-slide {
    display: flex;
    width: auto;
    height: auto;
}
.swiper-slide img {
    width: 90%;
    max-height: 40vw;
}
.slide-wrapper {
    position: absolute;
    box-sizing: content-box;
    max-width: 80%;
    bottom: 27px;
}
.slide-header {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 39px;
    line-height: 44px;
    box-sizing: content-box;
    margin-left: 32px;
}
.slide-inskr {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 28.6px;
    box-sizing: content-box;
    margin-left: 32px;
    margin-top: 14px;
}
.slide-wrapper__img {
    color: #0b0b0b;
}
.button-wrapper {
    background-color: #0b0b0b;
    display: flex;
    margin-top: 48px;
    margin-left: 24px;
    padding-bottom: 64px;
}
.s-button-prev {
    border: 1px solid #fff;
    opacity: 0.5;
    padding: 22px;
    border-radius: 50%;
    margin-right: 16px;
}
.s-button-next {
    border: 1px solid #fff;
    opacity: 0.5;
    padding: 22px;
    border-radius: 50%;
}
.s-button-next:hover {
    opacity: 1;
    cursor: pointer;
}
.s-button-prev:hover {
    opacity: 1;
    cursor: pointer;
}
.highlights-section {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-left: 24px;
    margin-right: 25px;
}
.highlights-header {
    margin-top: 24px;
    font-size: 23px;
    line-height: 31.2px;
}
.highlights-line {
    display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #0b0b0b;
    text-transform: uppercase;
}
.highlights-artist {
    border-bottom: 1px solid #EBEBEB;
    width: 20%;
    font-size: 20px;
    line-height: 32.5px;
    text-decoration: none;
    color: #0b0b0b;
}
.highlights-title {
    border-bottom: 1px solid #EBEBEB;
    width: 60%;
    font-size: 16px;
    line-height: 22.4px;

}
.highlights-date {
    border-bottom: 1px solid #EBEBEB;
    justify-content: center;
    text-align: right;
    width: 20%;
    font-size: 16px;
    line-height: 22.4px;
}
.highlights-artist:hover {
    color: #4A00FF;
    border-color: #4A00FF;
    cursor: pointer;
}
.highlights-title:hover {
    color: #4A00FF;
    border-color: #4A00FF;
    cursor: pointer;
}
.highlights-date:hover {
    color: #4A00FF;
    border-color: #4A00FF;
    cursor: pointer;
}
.footer-section {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #0b0b0b;
}
.footer-text {
    justify-content: center;
    text-align: center;
    font-size: 70px;
    line-height: 72px;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 50px;
}
.footer-link__container {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
}
.footer-link {
    
justify-content: center;
text-align: center;
font-size: 15px;
line-height: 22.4px;
color: #0b0b0b;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 28px;
padding-right: 28px;
border-radius: 20px;
background-color: #FFFF02;
text-decoration: none;
}
.footer-link:hover {
    color: #4A00FF;
}
