* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #0b0b0b;
}
.header-navigation {
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
}
.header-menu {
    display: flex;
    margin: auto;
    margin-left: 150px;
}
.header-menu__item {
    margin: 24px;
}
.header-menu__link {
    text-decoration: none;
    color: #fff;
}
.header-loginmenu {
    display: flex;
    align-items: center;
    margin: 10px; 
}
.header-loginmenu__item {
    margin: 8px;
}
.header-loginmenu__link {
    text-decoration: none;
    color: #fff;
}
.header-menusocial {
    display: flex;
    align-items: center; 
    margin: 8px;
}
.header-menusocial__item {
    margin: 16px;
}

.background-image {
    background-image: url(../img/IMAGE.jpg);
    background-size: cover;
    background-position: center;
    min-height: 720px;
    display: flex;
    justify-content: center;
    height: 50vw;
    
}
.background-image__conteiner {
margin-top: 125px;
}
.background-image__main {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #fff;
    font-size: 115px;
    line-height: 120px;
    max-width: 1210px;
    

}

.background-image__mail-conteiner {
    display: flex;
    justify-content: center;
}
.background-image__mail {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 86px;
    width: 132px;
}
.information-section {
    
    color: rgb(255, 255, 255);

}
.experience-card {
    display: flex;
  
}
.black-card {
    background-color: #0b0b0b;
    height: 740px;
    width: 50vw;

}
.experience-card__blue {
    background-color: #4A00FF;
    height: 740px;
    width: 50vw;
}
.exchange-card {
    display: flex;
}
.exchange-card__green {
    background-color: #00FF9D;
    height: 740px;
    width: 50vw;
}
.support-card {
    display: flex;
}
.support-card__orange {
    background-color: #FF8B00;
    height: 740px;
    width: 50vw;
}
