* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #0b0b0b;
}
.header-navigation {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    background-color: #0b0b0b;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.header-menu {
    display: flex;
    margin: auto;
    margin-left: 150px;
    list-style: none;
}
.header-menu__item {
    margin: 24px;
}
.header-menu__link {
    text-decoration: none;
    color: #fff;
}
.header-loginmenu {
    display: flex;
    align-items: center;
    margin: 10px; 
    list-style: none;
}
.header-loginmenu__item {
    margin: 8px;
}
.header-loginmenu__link {
    text-decoration: none;
    color: #fff;
}
.header-menusocial {
    display: flex;
    align-items: center; 
    margin: 8px;
    list-style: none;
}
.header-menusocial__item {
    margin: 16px;
}

.background-image {
    background-image: url(../img/IMAGE.jpg);
    background-size: cover;
    background-position: center;
    min-height: 720px;
    display: flex;
    justify-content: center;
    height: 50vw;
    
}
.background-image__conteiner {
margin-top: 125px;
}
.background-image__main {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #fff;
    font-size: 115px;
    line-height: 120px;
    max-width: 1210px;
    

}

.background-image__mail-conteiner {
    display: flex;
    justify-content: center;
}
.background-image__mail {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 86px;
    width: 132px;
}
.information-section {
    
    color: rgb(255, 255, 255);

}
.experience-card {
    display: flex;
  
}
.black-card {
    background-color: #0b0b0b;
    height: 740px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-card__blue {
    background-color: #4A00FF;
    height: 740px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exchange-card {
    display: flex;
}
.exchange-card__green {
    background-color: #00FF9D;
    height: 740px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-card {
    display: flex;
}
.support-card__orange {
    background-color: #FF8B00;
    height: 740px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-header {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 110px;
    text-align: center;
    line-height: 154px;
}
.card-header__inform {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #0b0b0b;
    font-size: 39px;
    line-height: 44px;
    margin-left: 112px;
    margin-right: 195px;
}
.card-header__preskr {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #0b0b0b;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 28px;
    margin-left: 112px;
    margin-right: 112px;
}
.btn-cards {
    margin-top: 32px;
    background-color: #0b0b0b;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-cards__text {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 28px;
    margin-right: 28px;
    pointer-events: none;    
}
.gallery-header {
    background-color: #0b0b0b;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-header__text {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 68px;
    line-height: 72px;
    text-align: center;   
}
